.carousel{
    margin-top: 84px;
    height: fit-content;
}

.carousel .imgC{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 767px){
    .carousel{
        margin-top: auto;
    }

    .carousel .imgC{
        height: 200px;
    }
}