.NewgaleryCard .card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.NewgaleryCard .btn{
    display: flex;
    flex-direction: column;
}

.NewgaleryCard .img img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.NewgaleryCard .text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 32px;
}