:root{
    --light : #fffdf8;
    --dark: #262219;
    --dark-second: #ffb5a7;
    --secondary-color: #D9A796;
    --third-color: #fcd5ce;
}

* {
    box-sizing: content-box;
  }

ul {
   list-style: none;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}