:root{
    --light : #fffdf8;
    --dark: #262219;
    --secondary-color: #D9A796;
}

* {
    box-sizing: content-box;
    color: var(--dark);
  }

ul {
   list-style: none;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
